<!DOCTYPE html>
<html>
<head>
    <title>Parking</title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script type="text/javascript" src="estacionamento.js"></script>
</head>
<body>


<div ng-app="estacionamento" class="container">

    <h1>Parking</h1>
    <a href="estacionamento.html" class="btn btn-primary">VOLTAR</a>
    <hr>
    <div ng-controller="Rest" ng-init="listarVagasDisponiveis()">
        <h2>VAGAS DISPONIVEIS</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>SETOR</th>
                <th>NUMERO</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="vaga in vagas">
                <td>{{ vaga.fileira }}</td>
                <td>{{ vaga.numero }}</td>
            </tr>
            </tbody>
        </table>


    <div ng-controller="Rest" ng-init="listarVagasOcupadas()">
        <h2>VAGAS OCUPADAS</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>SETOR</th>
                <th>NUMERO</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="vaga in vagas">
                <td>{{ vaga.fileira }}</td>
                <td>{{ vaga.numero }}</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
</body>
</html>